.about-header {
 display: flex;
 justify-content: center;
  }

  .about-vision h3 {
    color: #000;
  }

  .about-mission h3 {
    color: #000;
  }

  .about-culture h3 {
    color: #000;
  }

  .meet-the-team h5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .meet-the-team h2 {
    display: flex;
    justify-content: center;
  }

.meet-the-team img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  margin-top: 20px;
}

.bios h4 {
  text-align: center;
}

.bios p {
  padding-left: 15px;
  font-size: small;
  padding-top: -5 px;
  margin-bottom: 30px;
}

.careers {
  text-align: center;
}

.careers h3 {
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
   }

.careers p {
  font-size: small;
}

.careers a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgba(106, 103, 103, 0.578);
}

h2 {
  margin: 20px 0px 20px 0px;
}
