h1 {
  color: black;
}

.floating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#FFF;
  color:#000;
  border-radius:50px;
  text-align:center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s;
  &:active {
    background-color: #000;
    color:#FFF;
  }
}

.d-flex {
  flex-wrap: wrap;
}
