.info {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info .username{
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-left: 10px;
}

.info .options{
  height: 10px;
  cursor: pointer;
}

.unique-post{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info .user{
  display: flex;
  align-items: center;
}


.post-content{
  width: 100%;
  padding: 5px 15px 5px 10px;
  border:none;
}

.likes{
  font-weight: bold;
  padding-right: 5px;
}

.likes-icons {
  color: red;
}

.post-content .description{
  margin: 10px 0;
  font-size: 12px;
  line-height: 20px;
}

.post-content .description span{
  font-weight: bold;
  margin-right: 10px;
}

.post-time{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.comment-box {
  border: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.comment-input {
  width: 100%;
  padding-right: 52px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.trash-comment-icon {
  font-weight: 4px;
}


.comment-btn{
  // width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: -3px;
  i {
    font-size: 24px;
  }
}

.reaction-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: -20px;
  align-items: center;
}

.comments-text {
  margin: 0px 15px 0px 10px;
}

// .reaction-wrapper .icon{
//   height: 25px;
//   margin: 0;
//   margin-right: 20px;
// }

// .reaction-wrapper .icon.save{
//   margin-left: auto;
// }

.comment-btn {
  color: #353737;
}


.initials-circle {
  /* Add dimensions and a background color to the circle */
  width: 30px;
  height: 30px;
  background-color:#EBECEC;

  /* Create a circle shape using the border-radius property */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30px;
    border-radius: 50%;
  }
  }

  .initials-comment {
    font-size: small;
  }

.comment-text {
  padding-left: 10px;

  p {
    font-size: 10px ;
  }
}

.popover {
  background-color: #fff;
}

.popover-header {
  background-color: #eee;
  color: rgb(100, 100, 100);
}

.popover-body {
  color: rgb(119, 119, 119);
}

.position-relative {
  margin: 0px 10px 0px 10px;
}

.description {
  margin-bottom: 5px;
}

.back-to-event-page {
  font-size: small;
  width:min-content;
}

.edit-and-delete-icons {
  a{
    text-decoration: none !important;
  }
}
