.event-show-container {
  //background-image: url("eventshow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-banner {
  width: 100%;
  object-fit: cover;
  object-position:center;
}

.event-description {
  padding-right: 25px;
}

.event-description-and-location {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.event-show-content h2 {
  color: black;
  margin: 5px 0px 10px 10px;
  text-align: left;
}

.event-show-content p {
  color: black;
  margin: 5px 0px 10px 10px;
  text-align: left;
}

.event-location p {
  font-size: smaller;
  color: black;
  margin: 10px 10px 20px 30px;
  text-transform: uppercase;
  text-align: right;
}

.event-show-buttons {
  margin-bottom: 20px;
}

.edit-button {
  i {
    color: black;
  }
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: row-reverse wrap;
  justify-content: flex-start !important;
}

.hidden{
  display: none;
}

.w-100{
  width: 100%;
}

.mb-10{
  margin-bottom: 10px;
}
