.event-show-container {
  //background-image: url("eventshow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.event-show-content h1 {
  color: black;
  margin: 0px 0px 10px 30px;
}

p {

  color: black;
  margin: 10px 0px 20px 30px;

}

.event-show-buttons {
  margin-bottom: 20px;
}

.edit-button {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-flow: row-reverse wrap;
  justify-content: flex-start !important;
}
