// Specific CSS for your home-page

.home-container {
  height: 95vh;
  background-image: url("home_photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-h1 {
  margin-top: 50px;
  padding: 0px 20px 0px 20px;
  color: white;
  text-shadow: 0px 0px 5px #666;
}

.home-p {
  color: white;
  padding: 0px 20px 0px 20px;
  text-shadow: 0px 0px 5px #666;
}

.home-CTA-buttons {
  margin-bottom: 40px;
}
