.faq i{
  font-size: 30px;
  color: black;
}

.questions h5 {
  display: flex;
  justify-content: start;
}

.redirection-link-event-creation {
  a {
    color: inherit;
    font-weight: bold;
  }
}

.questions p {
  font-size: 15px;
}
