<div class="home-container">
  <div class="home_copy">
    <h1 class="home-h1">Capture the moment</h1>

    <p class="home-p">Cloud Album makes it easy to collect photos and videos from your event attendees.</p>
  </div>
  <div class="home-CTA-buttons d-grid gap-2">
    <%= link_to "Find an event", events_path, class: "btn btn-primary" %>
      <%#= form_tag event_path(params[:event_number]), method: :get do %>
        <%#= label_tag :event_number, "Event Number:" %>
        <%#= text_field_tag :event_number %>
        <%#= submit_tag "Search" %>
      <%# end %>

    <%= link_to "Create an event", new_event_path, class: "btn btn-secondary" %>
  </div>
</div>
