.delete-button {
  margin-left: 94%;
}

.find-form {
  display: flex;
  justify-content: space-around;
}

.event-text-box {
  width: 100%;
  height: 40px;
  margin: 0px 10px 0px 10px;
  border-radius: 8px;
  border: solid 1px #999;
  padding-left: 10px;
}

.find-copy {
  margin: 0px 30px 30px 30px;
}
