.title {
  text-align: left;
  margin: 10px 0px 20px 10px;
}

.card-img-top {
  height: 75%;
  object-fit: cover;
  border-radius: 0px;
  border: none;
}

.event-card {
  position: relative;
  height: 220px;
  background-color: #FFF;
  margin-bottom: 20px;
  border-radius: 0px;
  text-align: left;
  color: black;
}

.event-index-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-content {
  margin-left: 10px;
  margin-right: 10px;
}

.card-content h4 {
  margin-top: 3px;
  margin-bottom: 0px;
}

.event_date_and_location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event_date_and_location p {
  margin-top: 0px;
  font-size: smaller;
  text-transform: uppercase;
  margin-right: 0;
}


// .event-container {
//   height: 90vh;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .event-card {
//   background-image: url("homephoto.jpg");
// }
