.card-img-top {
  height: 100%;
  object-fit: cover;
}

.event-card {
  height: 150px;
  background-color: #CCC;
  margin-bottom: 10px;
}

.event-index-container {
  display: flex;
  flex-direction: column;
}

// .event-container {
//   height: 90vh;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .event-card {
//   background-image: url("homephoto.jpg");
// }
