.btn-primary {
  border-radius: 8px;
  background-color: #439cee;
  border: 1px solid #439cee;
  border-radius: 25px !important;
  margin: 0px 20px 0px 20px;
}

.btn-secondary {
  border-radius: 8px;
  background-color: #3d69b4;
  border: 1px solid #3d69b4;
  border-radius: 25px !important;
  margin: 0px 20px 0px 20px;
}
