.btn-primary {
  border-radius: 8px;
  background-color: #fff;
  border: solid 1px #fff;
  color: #000;
  border-radius: 25px !important;
  margin: 0px 30px 0px 30px;
  font-weight: 500;
  font-size: small;
  text-transform: uppercase;
  height: 40px;
  border: solid 1px #000;
}

.btn-secondary {
  border-radius: 8px;
  background-color: #000;
  border: solid 1px #000;
  color: white;
  border-radius: 25px !important;
  margin: 0px 30px 0px 30px;
  font-weight: 500;
  font-size: small;
  text-transform: uppercase;
  height: 40px;
}

.btn-edit {
  border-radius: 8px;
  color: white;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 25px !important;
  margin: 0px 30px 0px 30px;
  font-weight: 500;
}
