.navbar-lewagon {
  justify-content: space-between;
  background: #f3efe0 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
  padding-right: 0px;
  padding-left: 0px;
}
