.navbar-lewagon {
  justify-content: space-between;
  background: #FFF !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
  padding-right: 0px;
  padding-left: 0px;
}

.material-symbols-outlined {
  color: black !important;
  font-size: 40px !important;
}

.nav-link {
  color: black;
  text-transform: uppercase;
}
