.qr-code {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.qr-code-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  z-index: 1;
  background-color: white;
}

.qr-toggle {
  background-color: #fff;
  border: solid 1px #fff;
  color: #000;
  height: 20px;
  align-items: flex-end;
}
